<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
	<%- include('partials/head') %>
	<title>Messages</title>
</head>

<body>
	<div class="container pt-5">
		<h1 class="mb-3">Messages</h1>
		<div class="container p-3 mb-3">
			<% messages.forEach(message => { %>
			<div class="message border p-3 border-bottom rounded d-flex align-items-center gap-5 mb-3">
				<div>
					<h6><%= message.user %></h6>
					<p class="mb-0"><%= message.added %></p>
				</div>
				<div>
					<p class="fs-6 mb-0"><%= message.text %></p>
				</div>
			</div>
			<% }) %>
		</div>
		<a href="/new">New message</a>

	</div>
</body>

</html>